.passwordInput{
    position: relative;
    top: 60px;
    left: 15%;
    width: 75%;
    background: #e5e5e5;
    height: 100%;
    z-index:999;
}

#form_newPassword, #form_password{
    position: relative;
    padding: 0 20px;
    height: 40px;
    font-size: 20px;
    left: 7%;
    width: 70%;
    margin-bottom: 20px;
}

